*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: "Spectral", Georgia;
  font-family: var(--type-first);
}

body {
  padding-top: 4rem;
}

ul,
li,
a {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  color: #333;
  font-family: var(--type-first);
  font-size: 1rem;
}

.container {
  width: 80%;
  padding: 0 1rem;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fb1;
  height: 10rem;
  text-align: center;
  color: #764701;
}

.footer p {
  margin-top: 20px;
}
